<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

<body>
    <h1> BIENVENIDO AL FORO</h1>
    <div id="app"></div>


    <script>
        
        async function consultar() {
            const url = 'https://swapi.dev/api/asnwer/1'
            
            let response = await fetch(url);
        }
         async function hacer() {
        
            consle.log('paso 1.')
            await consultar ()
        
            console.log('paso 2.')
        }      
              



</script>   
</body>

</html>
