<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

<body>
    <script>
    /*
    REST: Verbos o metodos http
        GET: para obtener un recurso
        POST: Para enviar y crear un recurso nuevo en el servidor
        DELETE: Para eliminar un recurso
        PUT/PACHT : Para modificar un recurso

        OPTIONS, HEAD
    https://httpbin.org

       
    */
fetch('https://httpbin.org/get').then((response) => {
    return response.json()
    }).then((data) => {console.log(data)})
   
    </script>
    </body>
</htnl>
