<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

<body>
    <script>
    /*
    REST: Verbos o metodos http
        GET: para obtener un recurso
        POST: Para enviar y crear un recurso nuevo en el servidor
        DELETE: Para eliminar un recurso
        PUT/PACHT : Para modificar un recurso

        OPTIONS, HEAD
    https://httpbin.org

       
    */

        // URL encoded
fetch('https://httpbin.org/get?param1=1234&param2=3456').then((response) => {
    return response.json()
    }).then((data) => {
        console.log(data.args)
    })

    const o1 = {
        atr1: 'uno',
        atr2: 'dos',
        atr3: 'tres'
    }

    let headers = new Headers();
    headers.set('Content-type','application/json')

    fetch('https://httpbin.org/post', {
    method: 'POST',
    headers: headers,
    body: JSON.stringify(o1)
    }).then((response) => {
    return response.json()
    }).then((data) => {
      console.log('En POST')
      console.log(data)
    })


   
    </script>
    </body>
</htnl>
